
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


.main-container {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.detail-card-container {
    display: grid;
    grid-template-rows: "card-top";
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 400px;
    border: black;
    border-width: 1.5px;
    border-style: solid;
    font-family: 'Montserrat', sans-serif;
}

.detail-footer-border {
    margin-bottom: 0;
}

.detail-card-header-border {
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.detail-container-top-left {
    display: inline-flex;
    margin-top: 1em;
    margin-bottom: 0
}

.detail-container-top-right {
    margin-top: 1em;
    margin-right: 1em;
}

.detail-container-top-left span {
    align-items: center;
    margin: 1.5em;
}

.detail-info-border li {
    display: block;
}

.detail-container-bottom-right {
    float: right;
    margin-bottom: 0;
}

.detail-container-bottom-left {
    float: left;
    margin-bottom: 0;
}

.detail-title {
    margin-bottom: 2em
}

button {
    height: 3em;
    margin: .25em;
    padding: .5em;
}

.line {
    border-bottom: 1px solid;
    width: 100%;
    margin-top: 0;
}


.red {
    background-color:#cc0000 ;
    opacity: .8;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    display: inline-block;
    margin: .4em;
    border: none;
}

.orange {
    background-color: #e69138
    ;
    opacity: .8;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    display: inline-block;
    margin: .4em;
    border: none;

}

.yellow {
    background-color:#f1c232
    ;
    opacity: .8;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    display: inline-block;
    margin: .4em;
    border: none;

}


.green {
    background-color:#6aa84f
    ;
    opacity: .8;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    display: inline-block;
    margin: 1em;
    border: none;

}


.blue {
    background-color:#3d85c6;
    opacity: .8;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    display: inline-block;
    margin: 1em;
    border: none;

}


.purple {
    background-color: #674ea7;
    opacity: .8;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    display: inline-block;
    margin: 1em;
    border: none;
}


.black {
    background-color: #1A1A1A;
    opacity: .8;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    display: inline-block;
    margin: 1em;
    border: none
}

.white {
    background-color:white;
    opacity: 0.5;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    display: inline-block;
    margin: 1em;
    border: none black, solid 1px;
}
