.card-middle-border {
    display: block;
    list-style-type:none;
	font-size: .8em;
}

.cardTitle {
    margin-left: 15%;
    font-size: large;
}

.details-button {
    padding: .5em;
    margin: .25em;
    width: 125px;
    padding: 0;
}

img {
    width: 4em;
}

.garmentCardList li {
    margin: 0;
}

.card-border {
    box-sizing: border-box;
    display: grid;
    margin: .5em;
	max-width: 200px;
    height: 300px;
    border: black;
    border-width: 1.5px;
    border-style: solid;
}

.card-top-border img {
    float: right;
}

.card-top-border {
    height: 30%;
    margin: .5em;
}

.card-bottom-border {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20%;
}

.red {
    background-color: #ff7075;
    opacity: .8;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    display: inline-block;
    border: none;
}

.orange {
    background-color: #ff9a5c;
    opacity: .8;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    display: inline-block;
    border: none;

}

.yellow {
    background-color: #ffd970;
    opacity: .8;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    display: inline-block;
    border: none;

}


.green {
    background-color: #b3e85e;
    opacity: .8;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    display: inline-block;
    border: none;

}


.blue {
    background-color: #57b5ef;
    opacity: .8;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    display: inline-block;
    border: none;

}


.purple {
    background-color: #a786d5;
    opacity: .8;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    display: inline-block;
    border: none;
}


.black {
    background-color: #1A1A1A;
    opacity: .8;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    display: inline-block;
    border: none
}

.white {
    background-color:white;
    opacity: 0.5;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    display: inline-block;
    border: none black, solid 1px;
}