.color-container button:hover {
    border: #C2EB98 2px solid
}

.main-container {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.red-dot {
    background-color: #D90A27;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    margin: .4em;
    border: none;
}

.orange-dot {
    background-color: #F46124;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    margin: .4em;
    border: none;

}

.yellow-dot {
    background-color: #F3C70D;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    margin: .4em;
    border: none;

}


.green-dot {
    background-color: #017E3D;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    margin: .4em;
    border: none;

}


.blue-dot {
    background-color: #0841B6;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    margin: .4em;
    border: none;

}


.purple-dot {
    background-color: #A4047C;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    margin: .4em;
    border: none;
}


.black-dot {
    background-color: #1A1A1A;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    margin: .4em;
    border: none
}

.white-dot {
    background-color:white;
    opacity: 0.5;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    margin: .4em;
    border: none black, solid 1px;
}

.color-container {
    margin: 1em;
}

.header-dot {
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    margin: 1em;
}

.form-middle-border {
    margin: 1em;
}

.form-border {
    box-sizing: border-box;
    margin: .5em;
	max-width: 600px;
    border: black;
    border-width: 1.5px;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
}

.title-input {
    margin: 1em;
}

.form-header-border {
    display: flex;
    justify-content: space-between;
}

.form-top-left {
    display: flex;
    flex-grow: 2;
}

.form-top-right {
    flex-grow: 1;
} 

.form-group {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 2em;
}

input {
    margin: 1em;
}

select {
    margin: 1em;
}

.form-footer-border {
    display: flex;
    justify-content: space-between;
}

.page-title {
    margin-bottom: 2em;
}

button {
        font-family: 'Montserrat', sans-serif;
        background: transparent;
        font-size: medium;
        border: 1px solid black
}