
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


.main-container {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.detail-card-container {
    display: grid;
    grid-template-rows: "card-top";
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border: black;
    border-width: 1.5px;
    border-style: solid;
    font-family: 'Montserrat', sans-serif;
}

.detail-card-header-border {
    display: inline-flex;
    justify-content: space-between;
   
}

.detail-container-top-left {
    display: inline-flex
}

.detail-container-top-left span {
    align-items: center;
    margin: 1.5em;
}

.detail-info-border li {
    display: block;
}

.detail-container-bottom-right {
    float: right;
}

.detail-container-bottom-left {
    float: left;
}


.detail-title {
    margin-bottom: 2em
}

.line {
    border-bottom: 1px solid;
    width: 100%;
    margin: 0 auto
}


.red {
    background-color: #D90A27;
    opacity: .8;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    display: inline-block;
    margin: .4em;
    border: none;
}

.orange {
    background-color: #F46124;
    opacity: .8;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    display: inline-block;
    margin: .4em;
    border: none;

}

.yellow {
    background-color: #F3C70D;
    opacity: .8;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    display: inline-block;
    margin: .4em;
    border: none;

}


.green {
    background-color: #017E3D;
    opacity: .8;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    display: inline-block;
    margin: 1em;
    border: none;

}


.blue {
    background-color: #0841B6;
    opacity: .8;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    display: inline-block;
    margin: 1em;
    border: none;

}


.purple {
    background-color: #A4047C;
    opacity: .8;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    display: inline-block;
    margin: 1em;
    border: none;
}


.black {
    background-color: #1A1A1A;
    opacity: .8;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    display: inline-block;
    margin: 1em;
    border: none
}

.white {
    background-color:white;
    opacity: 0.5;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    display: inline-block;
    margin: 1em;
    border: none black, solid 1px;
}
