@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');

/* full top header */
.top-header {
    background-color: #173749;
    height: 2.5em;
}

.top-header a {
    color: white;
    float: right;
    padding: .25em;
}

h1 {
    font-family: 'Rozha One', serif;
    color: #42190d;
    font-size: 5.5em;
    margin: 0;
    margin-left: 1.25em
}


/* full bottom header */
.bottom-header {
    display: flex;
}

/* navigation and title */
.title-container {
    align-self: center;
    flex-grow: 3; 
}

/* logo */
.logo-container {
    float: left;
    margin: 2em;
    margin-left: 3em;
    flex-grow: 1;
}

.logo {
    width: 13em;
}

.logo:hover {
    border: #C2EB98 2px solid
}

/* title image */
.title-header {
    height: 6em;
    margin: .5em 7em;
    width: auto;
}

.nav-button {
    width: 8em;
    font-family: 'Montserrat', sans-serif;
    background: transparent;
    padding: .5em 1.5em;
    font-size: medium;
    border: 1px solid black;
  }

li {
    display: inline;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin: 1em;
}

nav {
    margin-top: 1em;
    align-self: center;

}

.nav-select {
    display: inline;
    cursor: pointer;
    font-weight: bold;
}

select {
    padding: .5em 1.5em;
    margin: 0;
    border: 1px solid black;
    margin: 1em;
    font-size: medium;
}

select:hover {
   border: #C2EB98 2px solid
}
      
button:hover {
    border: #C2EB98 2px solid
}

a {
    margin: .5em;
    margin-right: 1em;
}

a:hover {
    color: #C2EB98;
    cursor: pointer;
}

