
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.top-header {
    background-color: #173749;
    height: 2em;
}

.top-header a {
    color: white;
    float: right;
    padding: .25em;
}

.bottom-header {
    display: flex;
    flex-wrap: wrap;
}

.title-container {
    font-family: "Rozha One", serif;
    color: #42190d;
    font-size: 2.5em;
    flex-grow: 3;
}

.logo-container {
    float: left;
    margin: 1em;
    flex-grow: 1;
}

.logo {
    width: 13em;
}

h1 {
    margin: .5em;
    margin-bottom: 0;
}

li {
    display: inline;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: .5em;
}

nav {
    margin-bottom: 1em;
}







