@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');

/* full top header */
.top-header {
    background-color: #173749;
    height: 2.5em;
}

.top-header a {
    color: white;
    float: right;
    padding: .25em;
}


/* full bottom header */
.bottom-header {
    display: flex;
}

/* navigation and title */
.title-container {
    margin-top: 4em;
    flex-grow: 3; 
}

/* logo */
.logo-container {
    float: left;
    margin: 2em;
    margin-left: 3em;
    flex-grow: 1;
}

.logo {
    width: 13em;
}

.logo:hover {
    border: #173749 2px solid
}

/* title image */
.title-header {
    margin-left: 6em;
    height: 6em;
    width: auto;
}

.nav-button {
    width: 8em;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    background: transparent;
    border: none;
    padding: .5em 1.5em;
    font-size: medium;
    font-weight: bold;
  }

li {
    display: inline;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin: 1em;
}

nav {
    margin-top: 1em;
}

.nav-select {
    display: inline;
    cursor: pointer;
}

select {
    padding: .5em 1.5em;
    margin: 0;
    border: none;
    appearance: none;
    margin: 1em;
    font-size: medium;
    font-weight: bold;
}

select:hover {
     border: solid 1px #173749
}
      
button:hover {
    border: solid 1px #173749;
}
